* {
    padding: 0px;
    margin: 0px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 400;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul {
    list-style: none;
}

.home {
    padding: 2rem;
    display: block;
    justify-content: center;
    font-size: 2.2rem;
}

.navbar {
    background: rgb(190, 49, 68);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.nav-list a:hover {
    background: rgb(69, 86, 125);
}


/* Welcome page*/

.welcome {
    background-color: rgb(43, 44, 47);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

.welcome h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    text-align: center;
    color: white;
    font-weight: 600;
}

.welcome p {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: rgb(156, 49, 68);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}


/*Projects section*/

.projects-section {
    background: #45567d;
    text-align: center;
    padding: 10rem 2rem;
}

.projects-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 6rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: #303841;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.code {
    color: #303841;
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}

.project-image {
    height: calc(100% -6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn-show-all {
    font-size: 2rem;
    background: #303841;
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: #be3144;
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}


/*Contact section*/

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0.2rem;
    background: #303841;
}

.contact-section-header>h2 {
    font-size: 6rem;
}

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transform: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #303841;
    border-top: 4px solid #be3144;
}

footer>p {
    margin: 2rem;
}


/**a {
text-decoration: none;
color: rgb(237, 230, 231);
font-family: 'Merriweather', serif;
}

.logo {
padding: .2rem;
background-color: rgb(195, 65, 79);
}

.header {
padding: 0px 0px 0px 5px;
background-color: rgb(190, 49, 68);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
text-align: center;
}

.menu {
width: 25px;
height: 4px;
background-color: rgb(0, 100, 0);
margin: 4px 0;
}

.menu-items {
display: flex;
}

.menu-items>a {
margin: 1rem;
font-size: 2rem;
}

.header>.menu-items>a:hover {
border-radius: .4rem;
color: white;
background-color: gray;
font-size: 2.1rem;
} */